body {
  background: rgb(208, 129, 156);
}

h1,
p {
  text-align: center;
  color: blanchedalmond;
}

.bun-image {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: rgb(31, 116, 119);
  font-weight: bolder;
  text-decoration: underline;
  cursor: pointer;
}
